.widget {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.message textarea {
  min-height: calc(var(--ring-unit) * 8);
  max-height: 500px;
  overflow: auto;
}
