.widget {
  font-size: var(--ring-font-size);
  line-height: var(--ring-line-height);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 4);
}

.messageHeader {
  display: flex;
  align-items: center;
  gap: var(--ring-unit);
}

.datetime {
  color: var(--ring-secondary-color);
}

.messageSubHeader {
  font-size: var(--ring-font-size-smaller);
  color: var(--ring-secondary-color);
  margin-top: var(--ring-unit);
}

.messageText {
  margin: 0;
  margin-top: calc(var(--ring-unit) * 1.5);
}

.separator {
  height: 1px;
  background-color: var(--ring-line-color);
  margin: calc(var(--ring-unit) * 4) 0;
}
